body {
    background-color: #1c1c1c;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

h1 {
    color: #00aaff;
}

.card {
    background-color: #333333;
    color: #ffffff;
    margin-top: 20px;
}

.card a {
    color: #00aaff;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}
